spring:
  application:
    name: user-service
  
  data:
    mongodb:
      auto-index-creation: true
  
  jackson:
    default-property-inclusion: non_null
  mongodb:
    uri: ${SPRING_DATA_MONGODB_URI:mongodb://assel:houssam@localhost:27017/users_db?authSource=admin}

server:
  port: 8081

# JWT Configuration
jwt:
  secret: ${JWT_SECRET:e3c64d5d92fd37481713a7f04341adea0aa5e2262a17bfb709b9eecf77ab94a4}
  expiration: 86400000  # 24 hours

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.ecommerce.user: DEBUG
    org.springframework.data.mongodb: DEBUG