spring:
  application:
    name: user-service
  
  data:
    mongodb:
      uri: mongodb://assel:houssam@localhost:27017/users_db?authSource=admin
      auto-index-creation: true
  
  jackson:
    default-property-inclusion: non_null

server:
  port: 8081

# JWT Configuration
jwt:
  secret: ${JWT_SECRET:mySecretKey123456789012345678901234567890123456789012345678901234567890}
  expiration: 86400000

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.ecommerce.user: DEBUG
    org.springframework.data.mongodb: DEBUG