spring:
  application:
    name: product-service
  
  data:
    mongodb:
      uri: mongodb://assel:houssam@localhost:27018/products_db?authSource=admin
      auto-index-creation: true
  
  jackson:
    default-property-inclusion: non_null

server:
  port: 8082

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.ecommerce.product: DEBUG
    org.springframework.data.mongodb: DEBUG